body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 128px;
    padding: 8px 200px 100px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 24px;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;

}

h4 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px 48px 96px;
}

.info-bits {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 50px;
    max-width: 200px;
    text-align: center;
    color: rgb(97, 97, 97);
}

.info-image {
    height: 170px;
    width: 170px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-text {
    width: 450px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding: 128px 0 100px;
}

.quote-text {
    width: 812px;
}

.quote-author {
    text-align: right;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    padding-right: 20px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.call-to-action-content {
    background-color: #3882F6;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-radius: 8px;
}

button {
    background-color: #3882F6;
    font-weight: 600;
    border-radius: 6px;
    padding: 6px 32px;
    margin: 12px 0;
    color: #F9FAF8;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}


