.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

main {
    display: flex;
}

